*
{
    margin: 0%;
    padding: 0%;
}
body
{
background-image: url(images/slide3.jpg);
    background-position: 20px 20px;
    margin-right: 3px;
    background-size: 97%;
    /* width: 100%; */
    /* height: 40vw; */
    background-repeat: no-repeat;
    
}
header
{
    height: 45vw;
     margin: 3%;
    padding-right: 2%;

}
#navbar
{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    background-color: white;
    margin-top: 5%;
 
}
#heading
{
    color: red;
    font-size: 2.5vw;
}
#navbar #logo
{
    width: 7vw;

}
#but1
{
    margin-left: 60%;
}
header a
{
    text-decoration: none;
    color: black;
}
.nav_button>a:hover
{
    color: red;
}
.icons
{
    display: flex;
    list-style: none;
    gap: 6%;
    font-size: 1.8vw;
}
.services
{

    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(69, 64, 64);
    margin-bottom: 6%;
}
.link
{
    margin: 3% 0%;
    display: flex;
    justify-content: center;
    gap: 3%;
}
.social_links
{
    /* border: 2px solid red; */
    width: 5%;
    padding: 5%;
}
#link-1
{
    background-color: rgb(32, 59, 180);
}
#link-2
{
    background-color: rgba(218, 25, 25, 0.619);
}
#link-3
{
    background-color: rgb(132, 87, 99);
}
#link-4
{
    background-color: rgb(54, 72, 154);
}
.portfolio
{
    color: rgb(69, 64, 64);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio>p
{
    margin-bottom: 2%;
}
.gallery
{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;

}
.gal_img
{
    width: 20%;
    margin: 1.5% 0%;
}
